name: BadgeSort

"on":
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  badgesort:
    name: BadgeSort
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 1
      - name: Run BadgeSort
        uses: ChipWolf/BadgeSort@3.1.2
        with:
          id: techstack
          output: README.md
          style: flat
          slugs: |
            adobe,amazonaws,amazonec2,asana,bootstrap
            chai,cpanel,css3,cypress,eclipseide
            express,figma,gatsby,git,github
            gitlab,google,graphql,headlessui,heroku
            homebrew,html5,javascript,jira,jquery
            mocha,mongodb,mysql,netlify,nextdotjs
            nodedotjs,notion,npm,php,postgresql,prisma
            rubyonrails,react,ruby,sass,shopify,socketdotio
            sqlite,storybook,tailwindcss,vercel,vite
            visualstudiocode,woocommerce,wordpress,wpengine
            cloudflare,firebase,androidstudio,vuedotjs
            intellijidea,chakraui,openai,ionic
      - name: Commit and push
        uses: EndBug/add-and-commit@1bad3abcf0d6ec49a5857d124b0bfb52dc7bb081 # v9
        with:
          default_author: github_actions
          message: 'chore(readme): refresh badgesort'
